@model IQueryable<VirtualClinic.Models.TaskViewModel>

<link href="~/css/TableAppointment/Style.css" rel="stylesheet" />

<div class="page-content page-container" id="page-content">
    <div class="">
        <div class="row  d-flex justify-content-center">
            <div class="col-lg-8 grid-margin stretch-card"
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Not confirmed</h4>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Date</th>
                                        <th>StartTime</th>
                                        <th>Duration</th>
                                        <th>Doctor</th>
                                        <th>Speciality</th>
                                        <th>State</th>
                                        <th>Confirmation Action</th>
                                        <th>Remove</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                    <tr>

                                        @if (item.state == "Unconfirmed")
                                        {
                                            <td>@item.Start.ToShortDateString()</td>
                                            <td>@item.Start.ToShortTimeString()</td>
                                            <td>@(item.End-item.Start)</td>
                                            <td> @item.DoctorName</td>
                                            <td>@item.Speciality</td>
                                            <td><label class="badge badge-danger">Unconfirmed (Not payed)</label></td>
                                            <td>
                                                <form asp-action="Processing" asp-controller="ManagePatientAppointments" method="POST" asp-route-TaskId="@item.TaskID">
                                                    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                                                            data-key="pk_test_51J2eC0IUOx2aQmFjhLO0KGqmvJJUyuCprxcdjaD0T2u5njEXUQtePWJXcL1bXiBKsiTuqiLuZVML6i1jQ4Am44iu00OqD410cn"
                                                            data-amount="@ViewBag.PaymentAmount"
                                                            data-name="VirtualClinic"
                                                            data-description="Appointment with Doctor @item.DoctorName"
                                                            data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
                                                            data-locale="en"
                                                            data-zip-code="true"
                                                            data-label="Pay 10$">
                                                    </script>

                                                </form>
                                            </td>
                                            <td><a asp-action="CancelAppointment" asp-controller="ManagePatientAppointments" asp-route-TaskId="@item.TaskID" id="Cancel" class="btn btn-danger">Cancel</a></td>
                                        }
                                    </tr>
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="">
        <div class="row  d-flex justify-content-center">
            <div class="col-lg-8 grid-margin stretch-card"
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Confirmed</h4>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Date</th>
                                        <th>StartTime</th>
                                        <th>Duration</th>
                                        <th>Doctor</th>
                                        <th>State</th>
                                        <th>Speciality</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                    <tr>

                                        @if (item.state == "Confirmed")
                                        {
                                            <td>@item.Start.ToShortDateString()</td>
                                            <td>@item.Start.ToShortTimeString()</td>
                                            <td>@(item.End-item.Start)</td>
                                            <td> @item.DoctorName</td>
                                            <td><label class="badge badge-success">Confirmed (Payed)</label></td>
                                            <td>@item.Speciality</td>
                                        }
                                    </tr>
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row  d-flex justify-content-center">
        <div class="col-lg-8 grid-margin stretch-card"
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Passed</h4>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Date</th>
                                        <th>StartTime</th>
                                        <th>Duration</th>
                                        <th>Doctor</th>
                                        <th>State</th>
                                        <th>Speciality</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                    <tr>

                                        @if (item.state == "Passed")
                                        {
                                            <td>@item.Start.ToShortDateString()</td>
                                            <td>@item.Start.ToShortTimeString()</td>
                                            <td>@(item.End-item.Start)</td>
                                            <td> @item.DoctorName</td>
                                            <td><label class="badge badge-primary">Passed</label></td>
                                            <td>@item.Speciality</td>
                                        }
                                    </tr>
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>


<script>


    $(".Confirme").on("click", function (evt) {
            var clicked_button = $(this);
            window.location.href = '@Url.Action("Index", "Payment", new { Id = "Id" })'.replace("Id", clicked_button.attr("value"));
        });
</script>
