@model IQueryable<VirtualClinic.ViewModels.DoctorViewModel>

@{
    Layout = "_LayoutAdmin";
}


<link href="~/css/CrudTable/style.css" rel="stylesheet" />
<script src="~/lib/jquery/dist/jquery.js"></script>







<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<link rel="stylesheet" href="css/style.css">

<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 text-center mb-5">
                <h2 class="heading-section">Manage Doctors</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div style="width:80vw;margin-left:-200px;overflow:hidden" class="table-wrap">
                    <table class="table table-responsive-xl">
                        <thead>
                            <tr>
                                <th>Activate</th>
                                <th>Email</th>
                                <th>FirstName</th>
                                <th>LastName</th>
                                <th>Special</th>
                                <th>Status</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.Count() > 0)
                            {
                                @foreach (var item in Model)
                                {
                                    <tr class="alert" role="alert">
                                        @if (item.IsActivated)
                                        {
                                            <td>
                                                <input value="@item.Email" id="btn-Modifier" type="checkbox" class="switch  btn-Modifier" checked="checked">
                                                <label for="s2">Switch</label>
                                            </td>
                                        }
                                        else
                                        {
                                            <td>
                                                <input value="@item.Email" id="btn-Modifier" type="checkbox" class="switch  btn-Modifier">
                                                <label for="s2">Switch</label>
                                            </td>
                                        }

                                        <td class="d-flex align-items-center">
                                            <div class="img" style=" background-image: url(data:image/jpeg;base64,@Convert.ToBase64String(@item.Image));"></div>
                                            <div class="pl-3 email">
                                                <span>@item.Email</span>
                                                <span>Added: @item.Crationdate.ToShortDateString()</span>
                                            </div>
                                        </td>
                                        <td>@item.FirstName</td>
                                        <td>@item.LastName</td>
                                        <td>@item.Speciality</td>

                                        @if (item.IsActivated)
                                        {
                                            <td class="status"><span class="active">Active</span></td>
                                        }
                                        else
                                        {
                                            <td class="status"><span class="waiting">Waiting Activation</span></td>
                                        }
                                        <td>
                                            <button value="@item.Id" type="button" class="btn-danger btn-Delete" data-dismiss="alert" aria-label="Close">Remove</button>
                                        </td>
                                    </tr>
                                }
                            }
                            else
                            {
                                        <div style="text-align:center;color:red;">There are No Doctors Yet!</div>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>


<script type="text/javascript">
          $(".btn-Modifier").on("click", function (evt) {
            var clicked_button = $(this);
            window.location.href = '@Url.Action("ActivateDoctor", "Admin", new {email = "Email"})'.replace("Email", clicked_button.attr("value"));
          });

     $(".btn-Delete").on("click", function (evt) {
            var clicked_button = $(this);
            window.location.href = '@Url.Action("DeleteDoctor", "Admin", new {id = "id"})'.replace("id", clicked_button.attr("value"));
     });


</script>